<p>Фирма учреждена в 1992 году, сначала в качестве торгового представительства
- офиса второй самой большой австрийской фирмы на поставку животноводческих
технологий «Brunnthaller GmbH Со.КГ». Эта компания с многолетней традицией в
производстве и реализации технологического оборудования, прежде всего, для ферм
в Австрии и в Германии, образовала условия для реализации своих бизнес планов
в ЧP и СР. С нарастающим числом партнеров покупателей значение компании на
чешском рынке постепенно увеличивается, и повышается также количество партнеров
- производителей и поставщиков, как отечественных, так и зарубежных. Чешский
филиал основной фирмы становится, таким образом, все более самостоятельным
подразделением.</p>
<p>В 1993 году основано общество с ограниченной ответственностью «Brunnthaller-
CS s.r.o.» в качестве дочернего звена основной компании. В 1998-99гг. деятельность
основной компании в Австрии закрылась, и дочернее общество стало полностью
самостоятельной чешской компанией. С учетом традиции оставлены прежние знак и
логотип фирмы.</p>
<p>В 2002 году откуплены все права на торговую марку и имущество от Австрийцев, и
фирма становится чешской семейной компанией. В настоящее время компания, прежде
всего, является коммерческо-производственной организацией, которая обеспечивает
для своих клиентов комплексные услуги в области реализации технологических
линий механизации работ в животноводстве, не только для традиционных областей,
какими есть фермы для разведения скота и свиней, но также в области оборудования
для конюшен, птицеферм, и в нескольких случаях также оборудования и оснастки
предприятий пищевой, кормовой и обрабатывающей промышленности, какими есть
конвейеры и транспортные линии или вентиляционное оборудование.</p>
<p>Фирма имеет собственный проектировочный отдел и также она сотрудничает с
известными проектировочными офисами в г. Пардубице и Тржебич. Услуги по текущему
ремонту и логистике предоставляются нашим клиентам круглосуточно. Технологические
и технические группы работников
компании обеспечивают функционирование отечественной продукции с высшего уровня
компонентами, ввозимыми от производителей из Франции, Испании, Дании, Голландии и
Германии.</p>
<p>Фирма экспортирует продукцию, прежде всего в Австрию, Германию, Словению,
Венгрию и в Словакию. Фирма пытается занять место также на рынках Литвы и Украины.</p>
<p>В рамках реализации современных технологических линий для животноводства,
на территории Украины, в 2009 году в Киеве было создано Представительство
компании «Brunnthaller-CS s.r.o.» – ООО «БРУННТАЛЛЕР УКРАИНА».</p>
<p>В 2009 году подписан договор на реконструкцию животноводческих помещений в
Полтавской области.</p>
<p>Главной целью фирмы
«БРУННТАЛЛЕР УКРАИНА» есть: реконструкция
существующих животноводческих комплексов (помещения для содержания и
откорма молодняка, свинарники, коровники, коровников в свинарники, конеферм), а
также постройка новых животноводческих комплексов с реализацией современных
европейских технологий, комплектация оборудованием собственного производства
соответствующих требованиям стандарта CZN EN ISO 9001:2000. На все оборудование
поставляемое фирмой распространяется гарантия и сервисное обслуживание, цены от
производителя.</p>