// Place all the styles related to the AboutUs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {

	padding-top: 30px;
	padding-bottom: 50px;

	p {
		padding: 0 45px;
		font-size: 14px;
		line-height: 20px;
		text-align: justify;
	}

}